    	
/* ---- grid ---- */
.grid {
    box-sizing: border-box;
  }
  
  /* clearfix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- grid-item ---- */
  .grid-item {
    width: 24%;
    padding: 10px;
    margin: 0.5%;
    float: left;
    background: #e4e4e4;
    border-radius: 5px;
  }
  