html,
body {
    height: 100%;
   /* text-align:center;
    direction:rtl;*/
    font-family: Arial;;
 

}
.abc{
    max-width: 70%;
    height: auto;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    background-color: #eefdf9;
}

.wrap > .container {
    padding: 70px 15px 20px; 
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid rgb(104, 104, 104);
    padding-top: 20px; 
}

.jumbotron {
    text-align: center;
    background-color: transparent;
  
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdfdf7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.table {
    background: #fffefe;
}

.btn-success
{
    background: #00f50c9a;
    color: black;
}

.btn-primary{
    background: rgb(82, 105, 236)
}   

.reset{
    background: #73aa35;
}

.mainphoto{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.maintext{
    text-align:center;
    font-family:Lucida Console;;
}

.about{
    font-family: "Courier New", Times, serif;
}

.bd{
    margin-top: 40px;
    -webkit-border-radius: 8px/7px;
    -moz-border-radius: 8px/7px;
    background-clip: #ededed;
    background-color: #ECEAEA;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    -moz-box-shadow:px 2px 5px rgba(0,0,0,.31);
    box-shadow: px 2px 5px rgba(0,0,0,.31);

}

.mySeach{
    display: inline-block;
    width: 60%;
}
.mySeach2{
    display:  inline-block;
    width: 30%;
}

.boot1{
    display:  inline-block;
}
